<!DOCTYPE html>
<html>
<head>
    <title>Super Maze Runner</title>
    <script src="//cdn.jsdelivr.net/npm/phaser@3.19.0/dist/phaser.js"></script>
</head>
<body>
    <script type="text/javascript" src="js/easystar-0.2.1.min.js"></script>
    <script type="module" src="js/game.js"></script>

</body>
</html>
